-
  var tasks_data = [
  {
    "title": "Кейс от Института ИТ и VK Play",
    "winner": "",
    "description": "Простая, но вовлекающая игра-органайзер",
    "task": "",
    "imgSrc": "assets/tasks/smiley_face.svg",
    "height": "343px",
    "width": "440px",
    "radioId": "task1"
  },
  {
    "title": "Кейс от VK Play и Института ИТ",
    "winner": "",
    "description": "Простая, но вовлекающая игра-квест",
    "task": "",
    "imgSrc": "assets/tasks/worker.svg",
    "width": "200px",
    "radioId": "task2"
  }] 

mixin task(data)
  article.task
    h3.title= data.title
    p.description
      = data.description
    div.rows
      //- p.winner Победитель: 
      //-   = data.winner
      //- p.task Задача: 
      //-   = data.task
    img(src=data.imgSrc alt="Иконка с подарком" width=data.width height=data.height)
    div
      label(for=data.radioId)
        span.button.taskButton Выбрать кейс

section.tasks#tasks-section
  h2.tasks__header Задачи
  .tasks__content
    each singleTask in tasks_data
      +task(singleTask)
