-
  var tasks_data = [
  {
    "title": "Кейс от Института ИТ",
    "description": "Разработка мобильной AR-игры.",
    "theme": "Тема: 75-летний юбилей РТУ МИРЭА",
  },
  {
    "title": "Кейс от VK Play",
    "description": "AR-приложение для геймификации ИТ.",
    "theme": "Тема: 75-летний юбилей РТУ МИРЭА",
  }] 

mixin task(data)
  article.task
    h3.title= data.title
    p.description
      = data.description 
      //- p.winner Победитель: 
      //-   = data.winner
      //- p.task Задача: 
      //-   = data.task
    //- img(src=data.imgSrc alt="Иконка кейса" width=data.width height=data.height)
    div
      label(for=data.radioId)
        span.button.taskButton Выбрать кейс

section.tasks#tasks-section
  h2.tasks__header Задачи
  .tasks__content
    each singleTask in tasks_data
      +task(singleTask)
